.lightbox {
	height: 100%;
	width: 100%;
	display: none;
	position: absolute;
	z-index: 9999;
	top: 0;
	left: 0;
}

.lightbox-background {
	background-color: #000;
	opacity: .8;
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
}

.lightbox-container {
	position: relative;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 10000;
}

.lightbox-content {
	border: 10px solid #fff;
	background-color: #fff;
	margin: 0 auto;
	margin-bottom: 50px;
}

#player {
	border: 5px solid #fff;
	background-color: #fff;
}